@import '../../index.scss';

.blogCard {
	display: flex;
	flex-direction: column;
	border-radius: 3rem;
	margin: 3rem 1rem 5rem 1rem;
	width: 30rem;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.01);
		-webkit-filter: $image-shadow1;
	}
}

.blogCard--dark {
	&:hover {
		-webkit-filter: $image-shadow2;
	}
}

.blogCard__image {
	border-radius: 3rem;
	min-height: 30rem;
	width: 30rem;
	margin-bottom: 5rem;
}

.blogCard__title {
	color: $color-cold2;
	font-size: 2.2rem;
	margin-bottom: 2rem;
	max-width: 32rem;
}

.blogCard__title--dark {
	color: $color-light;
}

.blogCard__paragraph {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	max-width: 32rem;
}

.blogCard__date {
	font-size: 1.8rem;
}
