@import '../../index.scss';

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $background1;
	padding-top: 12rem;
	padding-bottom: 5rem;
	width: 100vw;
}

.page--dark {
	background: $background3;
	color: $color-light;
}
